<div class="col-lg-6 rightBlock">
	<img src="images/carSmokeCropped.png">
	<!--<img src="images/car-pollution.png">-->
</div>
<div class="col-lg-6 leftBlock">
	<div id="contentText" class="commomText">
		<div id="questionText">
			Curious to know how much you contribute to CO2 emissions when you travel?
		</div>
		<div id="actionButtonsWrapper">
			<div ng-show="showDefault">
				<button type="button" id="checkNowBtn" class="btn" ng-click="showNext(); showNextBtn=true;">Okay!</button>
				<!--<button type="button" id="checkLaterBtn" class="btn">Check Later</button>-->
			</div>
		</div>
	</div>
</div>