body{
	background:#fd8b49;
	font-family: 'Dosis', sans-serif;
}

.header{
	//background: #291e1e;
	color:white;
	padding-top: 10px;
    padding-bottom: 10px;
    font-size: 28px;
    text-align: center;
    margin-bottom: 60px;
}

#howMuchText{
	display: inline-block;
    width: auto;
    vertical-align: middle;
    margin-right: 1%;
}

#co2ImageWrap{
	display: inline-block;
    width: auto;	
}

#co2ImageWrap img{
	width:76px;
}

.rightBlock, .leftBlock{
	display:inline-block;
	vertical-align: top;
}

.rightBlock img{
	/*background-image: url('../images/carSmokeCropped.png');
	background-size: 100%;
	height:900px;
	background-repeat: no-repeat;*/
	width:100%;
}

.commomText{
	display: block;
    width: 100%;
    font-size: 50px;
    text-align: center;	
}

.actionButtons{
	background-image: url('../images/co2_3.png');
    background-repeat: no-repeat;
    background-size: 100%;
    width: 14%;
}


#actionButtonsWrapper{
	margin-top: 30px;
    text-align: center;
}
    

#actionButtonsWrapper button, #checkMapBtn, #showPreviousStateBtn, #showCalculationsBtn, #notClearBtn{
	background: white;
    width: 21%;
    height: 38px;
    cursor: pointer;
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    box-shadow: inset 0 0 0 0 #31302B;
	-webkit-transition: all ease 0.8s;
	-moz-transition: all ease 0.8s;
	transition: all ease 0.8s;
}

#actionButtonsWrapper button:hover, #checkMapBtn:hover, #showPreviousStateBtn:hover{
	box-shadow: inset 0 100px 0 0 #3a3939;
    color: #FFF;
    border: 1px solid #31302B;
}


#checkNowBtn{
	margin-right: 1%;
}

.hidingBlocks{
	width:100%;
    margin-left: 2%;
    color: white;
    padding: 16px;
    font-size: 18px;
}

.hidingBlocks .dropdown{
	color:black;
	font-size:14px;
	width: 47%;
	margin-top: 20px;
}

.dropdown button{
	white-space: normal;
}

#carTypeBtn{
	//background: #3a3939;
    width: 100%;
    //height: 38px;
    cursor: pointer;
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align:left;
    /*color:white;*/
}

.caret{
	display:inline-block;
	width:auto;
	float:right;
	margin-top: 10px;
}

/*.dropdown .dropdown-menu{
	position:relative !important;
	float: none !important;
	width:100%;
	background: #3a3939;
	color:white;
}*/


/*.dropdown .dropdown-menu>li>a{
	color:white;
}*/

/*.dropdown .dropdown-menu>li>a:hover{
	color:black;
}*/

.hidingBlocks .dropdown .dropdown-menu{
	//position:relative !important;
	float: none !important;
	width:100%;
	//background: #3a3939;
	color:white;
}

.hidingBlocks .dropdown .dropdown-menu>li>a{
	color:black;
}

.hidingBlocks .dropdown .dropdown-menu>li>a:hover{
	color:white;
	background:#3a3939;
}

.inlinelayout{
	display:inline-block !important;
}

.ng-hide {
  height: 0;
  width: 0;
  background-color: transparent;
  //top:-200px;
  //left: 200px
  //-webkit-transform: rotate(180deg); /* Safari */
    //transform: rotate(180deg);
}

.hidingBlocks, #questionText{
	-webkit-transition: height 2s; /* Safari */
    transition: height 2s;
}

/*#survey, #cylindersBlock, #commuteFrequency, #almostDone, #chooseCarTypeBlock{
	display:none;
}*/

#questionsWrapper{
	display:none;
}

.footer{
	background: #3a3939;
	color:white;
	position: fixed;
    bottom: 0px;
    width: 100%;
    text-align: center;
    padding: 9px;
    font-size: 15px;
    text-transform: uppercase;
}

.popover{
	background: #3a3939;
	color:white;
	position:absolute;
	z-index: 9999;
	padding: 20px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
}

.hightlightText{
	color:white;
}

/*#mapContainer{
	width:100%;
	height:500px;
}*/

#mapContainer {
    width: 100%;
    height: 560px;
}

.angular-google-map-container {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
        }

.controls {
      margin-top: 10px;
      border: 1px solid transparent;
      border-radius: 2px 0 0 2px;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      height: 32px;
      outline: none;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    }

    #origin-input,
    #destination-input {
      background-color: #fff;
      font-family: 'Dosis', sans-serif;
      font-size: 15px;
      font-weight: 300;
      margin-left: 12px;
      padding: 0 11px 0 13px;
      text-overflow: ellipsis;
      width: 200px;
    }

    #origin-input:focus,
    #destination-input:focus {
      border-color: #4d90fe;
    }

    #mode-selector {
      color: #fff;
      background-color: #000000;
      margin-left: 12px;
      padding: 5px 11px 0px 11px;
    }

    #mode-selector label {
      font-family: 'Dosis', sans-serif;
      font-size: 13px;
      font-weight: 300;
    }

    #mapDetailsModal{
    	display:none;
    	position: fixed; /* Stay in place */
	    z-index: 1; /* Sit on top */
	    left: 0;
	    top: 0;
	    width: 100%; /* Full width */
	    height: 100%; /* Full height */
	    overflow: auto; /* Enable scroll if needed */
	    background-color: rgb(0,0,0); /* Fallback color */
	    //background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	    background-color:rgba(0, 0, 0, 0.92);
    }

    /*.modal-content {
		background-color: #fefefe;
		margin: 4% auto;  15% from the top and centered 
		padding: 20px;
		border: 1px solid #888;
		width: 80%;  Could be more or less, depending on screen size 
	}
*/
	 .modal-content {
		background-color: #fefefe;
		//margin: 4% auto; /* 15% from the top and centered */
		padding: 20px;
		border: 1px solid #888;
		width: 60%; /* Could be more or less, depending on screen size */
		margin-top: 32px;
		display:inline-block;
		vertical-align: top;
		margin-left: 1%;
	}

	.centerBlock{
		text-align: center;
	}

	#checkMapBtn, #showPreviousStateBtn{
		margin-top: 40px;
	}

	#showPreviousStateBtn{
		margin-left: 10px;
	}

	.closeModal{
		float : right;
		margin-top:20px;
		color:white;
		font-weight: bold;
		font-size: 24px;
		cursor:pointer;
	}

	#calculationsContainer{
		display:inline-block;
		width: 32%;
    	margin-left: 3%;
    	text-align: center;
    	margin-top: 32px;
	}

	#showCalculationsBtn{
		position:relative;
		display:inline-block;
		vertical-align: middle;
    	margin-left: 10%;
	}

	#showCalculationsBtn:hover, #notClearBtn:hover{
		background:#fd8b49;
		color:#3a3939;
		border: 1px solid #31302B;
	}


	#calculationsContainer li{
		list-style: none;
	    display: inline-block;
	    //margin-right: 4%;
	    padding: 12px;
	    margin-bottom: 20px;
	    cursor: pointer;
	    z-index: 9999;
	    color:white;
	    width: 100%;
	    background: #fd8b49;
	    border-radius: 15px
	    -moz-border-radius: 15px;
	    -webkit-border-radius: 15px;
	    text-align: left;
	}

	#calculationsContainer .material-icons{
	    display: inline-block;
	    //color: #ffffff;
	    font-size: 36px;
	}

	#calculationsContainer .routeDetails{
	    display: inline-block;
	    //margin-top: 20px;
	    //color:white;
	}

	/*#calculationsContainer li:hover{
		color: #fd8b49;
		font-weight: bold;
	}*/

	#questionsWrapper{
		width:34%;
		margin-left: 3%;
		vertical-align: middle;
	}

	#nextBtn{
		background: #fd8b49;
	    color: #3a3939;
	    border: 1px solid #31302B;
	    height: 38px;
	    cursor: pointer;
	    font-size: 16px;
	    letter-spacing: 1px;
	    text-transform: uppercase;
	    margin-left: 6%;
	    margin-top: 15px;
	    width: 40%;
	    box-shadow: inset 0 0 0 0 #31302B;
		-webkit-transition: all ease 0.8s;
		-moz-transition: all ease 0.8s;
		transition: all ease 0.8s;
	}

	#nextBtn:hover{
		box-shadow: inset 0 100px 0 0 #ffffff;
	    color: #000000;
	    border: 1px solid white;
	}

	#notClearBtn{
		width:37%;
		margin-top: 18px;
	}

	.routeIndex{
		display: inline-block;
		width: auto;
	}

	.routeInfoContainer{
		display: inline-block;
		text-align: left;
		vertical-align: top;
		margin-left: 4%;
		width: 70%;
	}

	.nextCarbonDetails{
		background: white;
	    border-radius: 28px;
	    color: black;
	    margin-top: 16px;
	}
	
	.moreDetailsContainer span{
		font-weight: bold;
		display: block;
		width: 100%;
		margin-top: 20px;
		color: black;
		font-style: italic;
	}

	#moreDetailsContainer{
		margin-top: 20px;
	}

	.imageRepresentation{
		margin-top: 25px;
    	text-align: center;
	}

	.imageRepresentation img{
		width: 89px;
	}
	